<form style="min-height: 300px;">
    <div style="display: inline-block; width: 100%; margin-bottom: 10px">
        <nav class="sheet-tabs tabs" data-group="sections">
            <a class="item" data-tab="whisper" data-action="changeTab">{{localize "SWEETNOTHINGS.DIALOG.WHISPER"}}</a>
            <a class="item" data-tab="chat" data-action="changeTab">{{localize "SWEETNOTHINGS.DIALOG.CHAT"}}</a>
        </nav>
        <hr />
        <section id="sweetNothingsDialogForm">
            <div class="tab" data-tab="whisper">
                <div class="flexrow sweetflexrow">
                    <button alt="{{localize "SWEETNOTHINGS.ALT.REPLY"}}" title="{{localize "SWEETNOTHINGS.ALT.REPLY"}}" class="sweetflexcol2 sweetReply" type="button" name="reply" data-action="reply"><i
                            class="fas fa-reply"></i>{{localize
                        "SWEETNOTHINGS.BUTTONS.REPLY"}}</button>
                    <div class="sweetflexcol9">
                        <label for="sweetNothingsTargets" style="vertical-align: top; margin-right: 10px;">{{localize
                            "SWEETNOTHINGS.DIALOG.RECIPIENTS"}}:</label>
                        <div class="sweetNothingsPlayerList">
                            {{#each players}}
                            <span>
                                {{#if replyTo}}
                                <input type="checkbox" id="sweetNothingTarget-{{id}}" name="sweetNothingTarget"
                                    value="{{id}}" checked />
                                {{else}}
                                <input type="checkbox" id="sweetNothingTarget-{{id}}" name="sweetNothingTarget"
                                    value="{{id}}" />
                                {{/if}}
                                <label for="sweetNothingTarget-{{id}}">{{name}}</label>
                            </span>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab" data-tab="chat">
                <p>{{localize "SWEETNOTHINGS.DIALOG.CHATTEXT"}}</p>
                <p class="sweetNothingsChatmodeSelect">{{localize "SWEETNOTHINGS.DIALOG.CHATMODE"}}:
                    <span class="sweetNothingsBubbles" title="{{localize " SWEETNOTHINGS.TOOLTIPS.CHATMODE"}}">
                        <i class="far fa-comment-alt"></i>
                        <input type="radio" name="sweetNothingsChatMode" value="ic" id="sweetNothingsIC"
                            {{sweetNothingsChecked 'ic' chatMode}} /> <label for="sweetNothingsIC">{{localize
                            "SWEETNOTHINGS.DIALOG.MODES.IC"}}</label>
                        <input type="radio" name="sweetNothingsChatMode" value="emote" id="sweetNothingsEmote"
                            {{sweetNothingsChecked 'emote' chatMode}} /> <label for="sweetNothingsEmote">{{localize
                            "SWEETNOTHINGS.DIALOG.MODES.EMOTE"}}</label>
                    </span>
                    <input type="radio" name="sweetNothingsChatMode" value="ooc" id="sweetNothingsOOC"
                        {{sweetNothingsChecked 'ooc' chatMode}} /> <label for="sweetNothingsOOC">{{localize
                        "SWEETNOTHINGS.DIALOG.MODES.OOC"}}</label>
                    <input type="radio" name="sweetNothingsChatMode" value="other" id="sweetNothingsOther"
                        {{sweetNothingsChecked 'other' chatMode}} />
                    <label for="sweetNothingsOther">{{localize "SWEETNOTHINGS.DIALOG.MODES.OTHER"}}</label>
                </p>
            </div>
        </section>
        <hr />
        <div class="sweetNothingsMessageBox">
            {{editor content=messageText target="messageText" button=false owner=true editable=true}}
        </div>
    </div><br />
    <footer class="flexrow">
        <button type="button" name="cancel" data-action="cancel" alt="{{localize "SWEETNOTHINGS.ALT.CANCEL"}}" title="{{localize "SWEETNOTHINGS.ALT.CANCEL"}}"><i class="far fa-times-circle"></i>{{localize
            "SWEETNOTHINGS.BUTTONS.CANCEL"}}</button>
        <button type="button" name="submit" data-action="submit" alt="{{localize "SWEETNOTHINGS.ALT.SUBMIT"}}" title="{{localize "SWEETNOTHINGS.ALT.SUBMIT"}}"><i class="fas fa-check"></i>{{localize
            "SWEETNOTHINGS.BUTTONS.SUBMIT"}}</button>
    </footer>
</form>