#sweetNothingsDialog .sweetNothingsMessageBox { height: 300px; }
#sweetNothingsDialog .editor { height: 100%; }
#sweetNothingsDialog .tox { height: 100%; min-height: 100%; }

#sweetNothingsTargets option::before { font-family: FontAwesome; content: "\f096"; width: 1.3em; text-align: center; display: inline-block; margin-left: 2px; }
#sweetNothingsTargets option:checked::before { content: "\f046"; }

#sweetNothingsDialog input[type='checkbox'] { height: 14px; margin: 1px 2px; }
#sweetNothingsDialog .sweetNothingsPlayerList span { display: inline-block; }

#sweetNothingsDialog .sweetNothingsChatmodeSelect { margin-top: 6px; margin-bottom: 6px;}
#sweetNothingsDialog .sweetNothingsBubbles { padding: 4px; background-color: white; border: 1px solid #000; border-radius: 4px; }

.sweetflexrow { align-content: center; flex-wrap: wrap;}

.sweetflexcol2 { flex-grow: 2; }
.sweetflexcol9 { flex-grow: 9; }

.sweetReply { margin: 4px; }